<a href="https://colab.research.google.com/github/its-vishal0887/Python_Journey/blob/main/sets_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [10]:
# Create a set with the first 10 positive integers. Print the set.
my_sett = {i for i in range(1,11)}
print(my_sett)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
# Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.
my_sett.add(11)
print(my_sett)

my_sett.remove(1)
print(my_sett)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [8]:
# Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

my_set_1 = {i for i in range(1,11) if i%2 == 0}
print(my_set_1)

my_set_2 = {i for i in range(1,11) if i%2 != 0 }
print(my_set_2)

print(f" union or set 1: {my_set_1.union(my_set_2)}")
print(f"union of  set 2: {my_set_2.union(my_set_1)}")

print(f"intersection: {my_set_1.intersection(my_set_2)}")

print(f"Differece : {my_set_1.difference(my_set_2)}")
print(f"Difference: {my_set_2.difference(my_set_1)}")

print(f"Symmetric Difference: {my_set_1.symmetric_difference(my_set_2)}")
print(f"Symmetric Difference: {my_set_2.symmetric_difference(my_set_1)}")

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
 union or set 1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
union of  set 2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
intersection: set()
Differece : {2, 4, 6, 8, 10}
Difference: {1, 3, 5, 7, 9}
Symmetric Difference: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Symmetric Difference: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
# Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.
my_newSet = {i*i for i in range(1, 11)}
print(my_newSet)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [14]:
# Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.
my_new_sett = {i for i in range(1, 11) if i%2 == 0}
print(my_new_sett)

{2, 4, 6, 8, 10}

In [15]:
# Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.
s = {1,2,3,4,1,2,3,4}
print(s)

{1, 2, 3, 4}

In [17]:
# Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.
set1 = {i for i in range(1, 6)}
set2 = {i for i in range(1,4)}
print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

In [19]:
# Create a frozenset with the first 5 positive integers. Print the frozenset.

frset = frozenset( i for i in range(1,6))
print(frset)

frozenset({1, 2, 3, 4, 5})

In [21]:
# Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

fset = {i for i in range(1, 6)}
l1 = list(fset)
l1.append(6)
fset = set(l1)
print(fset)

{1, 2, 3, 4, 5, 6}

In [23]:
# Create a dictionary with set keys and integer values. Print the dictionary.
my_dict = {('name', 'roll_num', 'gender'): {'vishal', 56, 'male'}}
print(my_dict)

{('name', 'roll_num', 'gender'): {56, 'vishal', 'male'}}

In [32]:
# Create a set and iterate over the elements, printing each element.
my_set = {i for i in range(1, 10)}
for i in my_set:
  print(i, end= " ")

1 2 3 4 5 6 7 8 9

In [30]:
from os import remove
# Create a set and remove elements from it until it is empty. Print the set after each removal.
my_set = {i for i in range(1, 10)}
my_set.clear()
print(my_set)

set()

In [34]:
# Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.
fset = {i for i in range(1,20)}
sset = {i for i in range(1,15)}
fset.symmetric_difference_update(sset)
print(fset)

{15, 16, 17, 18, 19}

In [35]:
# Create a set and test if certain elements are present in the set. Print the results.
my_set = {i for i in range(1,20)}
print(1 in my_set)

True

In [36]:
# Create a set containing tuples, where each tuple contains two elements. Print the set.
tupSet = {(1,2), (4,6), (2,7)}
print(tupSet)

{(1, 2), (4, 6), (2, 7)}